/* line 4, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* Sticky Footer */
/* line 12, ../src/screen.scss */
html, body {
  height: 100%;
}

/* line 13, ../src/screen.scss */
#wrap {
  min-height: 100%;
}

/* line 14, ../src/screen.scss */
#main {
  overflow: auto;
  padding-bottom: 200px;
}

/* must be same height as the footer */
/* line 16, ../src/screen.scss */
footer {
  position: relative;
  margin-top: -200px;
  /* negative value of footer height */
  height: 199px;
  clear: both;
}

/*Opera Fix*/
/* line 21, ../src/screen.scss */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/* End Sticky Footer */
/* line 31, ../src/screen.scss */
body.two-col .container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body.two-col .container {
  display: block;
}
/* line 37, ../src/screen.scss */
body.two-col #content div.container #sidebar, body.two-col #actionbuttons {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 138, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content div.container #sidebar, * html body.two-col #actionbuttons {
  overflow-x: hidden;
}
/* line 41, ../src/screen.scss */
body.two-col #logo, body.two-col #article-container {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 138, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #logo, * html body.two-col #article-container {
  overflow-x: hidden;
}

/* line 47, ../src/screen.scss */
header, footer {
  display: block;
}

/* line 51, ../src/screen.scss */
body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #002244;
}
/* line 65, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 67, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 68, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 70, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 71, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 72, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 73, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 77, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:visited {
  color: #000066;
}
/* line 21, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:focus {
  color: black;
}
/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:hover {
  color: black;
}
/* line 27, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body a:active {
  color: #cc0099;
}
/* line 78, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 79, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong {
  font-weight: bold;
}
/* line 80, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em {
  font-style: italic;
}
/* line 81, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 82, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 83, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 84, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 85, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 86, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 87, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 88, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 89, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 90, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 91, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 92, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 94, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 95, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 96, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 97, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 98, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 99, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tr.even td {
  background: #e5ecf9;
}
/* line 100, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 102, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666666;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #111111;
}
/* line 56, ../src/screen.scss */
body a, body a:visited {
  color: #d0a635;
  text-decoration: none;
}
/* line 60, ../src/screen.scss */
body a:hover {
  color: white;
  text-decoration: underline;
}
/* line 65, ../src/screen.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #d0a635;
}

/* line 70, ../src/screen.scss */
.awesome {
  background: #222;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
}

/* line 73, ../src/screen.scss */
.awesome.blue {
  background: #002244;
}

/* line 76, ../src/screen.scss */
.awesome.blue:hover {
  background: #224466;
}

/* line 80, ../src/screen.scss */
header#page-header {
  border-bottom: 1px solid black;
  background: white;
}
/* line 85, ../src/screen.scss */
header#page-header div.container div#logo a {
  background: url(../images/logo.png);
  text-indent: -9999px;
  display: block;
  height: 96px;
  width: 409px;
  margin: 1em;
}
/* line 94, ../src/screen.scss */
header#page-header div.container div#actionbuttons {
  text-align: center;
}
/* line 96, ../src/screen.scss */
header#page-header div.container div#actionbuttons a:hover, header#page-header div.container div#actionbuttons a:visited {
  color: white;
  text-decoration: none;
}
/* line 102, ../src/screen.scss */
header#page-header div.container nav {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 138, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header#page-header div.container nav {
  overflow-x: hidden;
}
/* line 104, ../src/screen.scss */
header#page-header div.container nav a {
  color: black;
}
/* line 106, ../src/screen.scss */
header#page-header div.container nav a span {
  font-size: 1.25em;
  color: #002244;
  font-weight: bold;
}
/* line 112, ../src/screen.scss */
header#page-header div.container nav ul {
  width: 948px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f1c657), color-stop(100%, #d0a635));
  background-image: -moz-linear-gradient(top, #f1c657 0%, #d0a635 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f1c657, endColorstr=#d0a635);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f1c657, endColorstr=#d0a635)";
  border: 1px solid black;
  height: 60px;
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: table;
}
/* line 124, ../src/screen.scss */
header#page-header div.container nav ul li {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

/* line 134, ../src/screen.scss */
#content {
  color: #ccc;
  font-weight: 200;
  padding-top: 1em;
}
/* line 138, ../src/screen.scss */
#content blockquote {
  color: #ccc;
}
/* line 141, ../src/screen.scss */
#content table {
  background: #001122;
  border: 1px solid #333;
  border-collapse: collapse;
}
/* line 145, ../src/screen.scss */
#content table td {
  border: 1px solid #333;
}
/* line 157, ../src/screen.scss */
#content div.container div#sidebar ul {
  list-style: none;
  padding-left: 0;
}

/* line 165, ../src/screen.scss */
p.event_time {
  padding: 0px;
}

/* line 169, ../src/screen.scss */
footer#site-footer {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #001122), color-stop(100%, #002244));
  background-image: -moz-linear-gradient(top, #001122 0%, #002244 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#001122, endColorstr=#002244);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#001122, endColorstr=#002244)";
  border-top: 1px solid #333;
  color: #ccc;
  font-weight: 200;
}
/* line 177, ../src/screen.scss */
footer#site-footer a {
  color: #ccc;
}
/* line 180, ../src/screen.scss */
footer#site-footer a:hover {
  color: white;
}
/* line 183, ../src/screen.scss */
footer#site-footer div.container {
  padding-top: 1em;
}
/* line 185, ../src/screen.scss */
footer#site-footer div.container table {
  margin: 0;
  width: 100%;
}
/* line 188, ../src/screen.scss */
footer#site-footer div.container table td {
  width: 1%;
  vertical-align: top;
  font-weight: 200;
}
/* line 192, ../src/screen.scss */
footer#site-footer div.container table td span {
  margin-bottom: 1em;
  display: block;
}
/* line 195, ../src/screen.scss */
footer#site-footer div.container table td span a {
  color: #f1c657;
}
/* line 198, ../src/screen.scss */
footer#site-footer div.container table td span a:hover {
  color: white;
}
/* line 202, ../src/screen.scss */
footer#site-footer div.container table td ul {
  list-style: none;
  padding-left: 0;
}
/* line 208, ../src/screen.scss */
footer#site-footer div.container div#copyright {
  width: 100%;
  text-align: center;
}
